.schedule-container {
    display: flex;
    flex-direction: column;
  }
  
  .schedule-day {
    margin-bottom: 20px;
  }
  
.schedule-day-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .schedule-bars {
    display: flex;
  }
  
.schedule-block {
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
  }

.event-text {
  position: absolute;
  z-index: 1;
}

.filter-buttons button {
  margin-right: 10px;
  margin-top: 5px;
}

/* For the todo list */
ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  li .flex {
    display: flex;
    align-items: center;
  }
  
  li .font-semibold {
    font-weight: bold;
  }
  
  li .text-lg {
    font-size: 1.1em;
  }
  
  li .text-gray-900 {
    color: #1a202c;
  }
  
  li .text-gray-600 {
    color: #718096;
  }
  
  li .italic {
    font-style: italic;
  }
  
  li .mr-3 {
    margin-right: 1rem;
  }
  